{
    log {
        output file /var/log/caddy/global-access.log {
            roll_size 10mb
            roll_keep 5
        }
        format json
        level debug  # Default level for all sites is warn ## debug info warn error panic
    }
}
:80 {
    redir https://siliconpin.com{uri}
}
import conf.d/*.caddy
